/* Navbar principal */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #48c6ef; /* Cambia el color de la barra si es necesario */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.navbar-logo {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(135deg, #ff416c, #ff4b2b, #12c2e9);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s infinite linear;
  text-decoration: none;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  margin-left: 10px;
}

/* Animación del Gradiente del Logo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Botón de hamburguesa */
.navbar-toggle {
  display: none; /* Ocultar por defecto */
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 55px;
  top: 15px;
}

.navbar-toggle span {
  background-color: #fff; /* Asegúrate de que los spans sean visibles */
  height: 4px;
  width: 25px;
  margin: 5px 0;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Contenedor de enlaces de navegación */
.navbar-links {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

/* Links de la Navbar */
.navbar-tab {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 6px 15px;
  border-radius: 15px;
  background: linear-gradient(135deg, #3f72af, #112d4e);
  position: relative;
  transition: all 0.3s ease;
  text-align: center;
  margin-right: 12px;
}

.navbar-tab:hover {
  transform: scale(1.05);
}

.navbar-tab::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(135deg, #f64f59, #c471ed, #12c2e9);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.navbar-tab:hover::before {
  opacity: 1;
}

/* Botón de Cerrar Sesión */
.logout-btn {
  background: linear-gradient(135deg, #d32f2f, #b71c1c);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 120px; /* Limitar el ancho */
  white-space: nowrap; /* Evitar que el texto se rompa */
  margin-right: 30px;
}

.logout-btn:hover {
  background: linear-gradient(135deg, #b71c1c, #d32f2f);
  transform: translateY(-3px);
}

/* Para las versiones móviles */
@media (max-width: 968px) {
  /* Mostrar el botón hamburguesa */
  .navbar-toggle {
    display: flex; /* Hacer visible el botón hamburguesa */
  }

  /* Menu en versión móvil */
  .navbar-links {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 70px;
    right: 10px;
    background: #89c5e8a3;
    padding: 10px;
    border-radius: 30px;
    width: 40%;
    display: none; /* Ocultar el menú por defecto */
  }

  /* Mostrar el menú cuando esté activo */
  .navbar-links.active {
    display: flex;
  }

  /* Estilo de los botones en la navbar para móviles */
  .navbar-tab,
  .logout-btn {
    font-size: 0.8rem;
    padding: 10px 25px;
    width: 50%; /* Hacer los botones más grandes en pantallas pequeñas */
  }

  /* Ajustar el botón de cerrar sesión para dispositivos móviles */
  .logout-btn {
    font-size: 0.6rem;
    max-width: none; /* Quitar el límite de ancho en pantallas móviles */
  }
}
